{
    "name": "WolfSSL",
    "files": [
        "wolfcrypt/src/misc.c",
        "wolfcrypt/src/md4.c",
        "wolfcrypt/src/md5.c",
        "wolfcrypt/src/sha.c",
        "wolfcrypt/src/sha256.c",
        "wolfcrypt/src/sha512.c",
        "wolfcrypt/src/ripemd.c",
        "tests/hash.c"
    ],
    "main": "HashTest",
    "compilation_cmd": "-DSINGLE_THREADED -DWC_NO_HARDEN -I. -Iwolfssl -Iwolfssl/wolfcrypt -Itaas-stub",
    "machdep": "gcc_x86_64"
}

